.root {
    -fx-background-color: #333333;
    -fx-font-family: monospace;
    -fx-hgap: 5px;
    -fx-vgap: 5px;
    -fx-padding: 5px;
}

.text-field {
    -fx-text-fill: #9c9c9c;
    -fx-text-alignment: right;
    -fx-font-style: bold;
    -fx-font-size: 25;
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-border-insets: 0px;
}

.button {
    -fx-font-size: 16;
    -fx-background-radius: 5em;
    -fx-background-insets: 0px;
    -fx-border-radius: 5em;
}

.button:focused {
    -fx-border-color: white;
}

.button:armed {
    -fx-border-color: yellow;
}

.botones-numericos {
    -fx-text-fill: white;
    -fx-background-color: #6f6f6f;
}

.botones-numericos:hover {
    -fx-text-fill: #6f6f6f;
    -fx-background-color: white;
}

.botones-numericos:pressed {
    -fx-text-fill: #9c9c9c;
    -fx-background-color: black;
}

.botones-reinicio {
    -fx-text-fill: black;
    -fx-background-color: #9c9c9c;
}

.botones-reinicio:hover {
    -fx-background-color: white;
}

.botones-reinicio:pressed {
    -fx-text-fill: #9c9c9c;
    -fx-background-color: black;
}

.botones-operaciones {
    -fx-text-fill: white;
    -fx-background-color: orange;
}

.botones-operaciones:hover {
    -fx-background-color: #ff8000;
}

.botones-operaciones:hover:default {
    -fx-background-color: red;
}

.botones-operaciones:pressed {
    -fx-text-fill: orange;
    -fx-background-color: white;
}

.botones-operaciones:default {
    -fx-background-color: orangered;
}